@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 */
body {
    font-family: "Lato", sans-serif;
}

.columns {
    /*     column-count: 4;
    column-width: 250px; */
    columns: 4 250px;
    column-rule: 3px solid #333;
    column-gap: 3rem;
}

.columns p {
    margin-top: 0;
}

.columns h2 {
    margin-top: 0;
    background-color: #333;
    color: whitesmoke;
    padding: 2 rem;
    break-inside: avoid;
}

.columns .quote {
    margin-top: 2rem;
    font-size: 3rem;
    text-align: center;
    color: #333;
    column-span: all;
}

.nowrap {
    white-space: nowrap;
}
/* .block {
    width: 10vw;
    height: 10vw;
    background-color: #333;
    color: whitesmoke;
    padding: 1rem;
}

.left {
    float: left;
    margin-right: 1rem;
}
.right {
    float: right;
    margin-left: 1rem;
}

.clear {
    clear: both;
}

section {
    background-color: bisque;
    border: 1px solid #333;
    padding: 1rem;
    display: flow-root; 
}*/

/* ul {
    list-style: none;
    background-color: #333;
    text-align: lefst;
    padding: 1rem;
}

li {
    display: inline-block;
    margin-inline: 2rem;
}

li a {
    text-decoration: none;
    color: antiquewhite;
}

li a:hover,
li a:focus {
    text-decoration: underline; 
}*/
